<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">About</h2>
          <p>Located in the center of Can Tho city, behind Luu Huu Phuoc park.</p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
            <li class="ftco-animate"><a
                href="https://www.facebook.com/CUSC.CE/photos/trung-t%C3%A2m-c%C3%B4ng-ngh%E1%BB%87-ph%E1%BA%A7n-m%E1%BB%81m-%C4%91%E1%BA%A1i-h%E1%BB%8Dc-c%E1%BA%A7n-th%C6%A1-th%C3%B4ng-b%C3%A1o-tuy%E1%BB%83n-sinh-h%E1%BB%8Dc-l%E1%BA%ADp-tr%C3%ACnh-/1147520931928174/"><span
                  class="icon-facebook"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Have a Questions?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">1 Ly Tu Trong, Tan An, Cantho city, An Cư
                  Ninh Kieu Can Tho</span></li>
              <li><a href="#"><span class="icon icon-phone"></span><span class="text">0292 383 5581</span></a></li>
              <li><a href="#"><span class="icon icon-envelope"></span><span class="text">cusc@ctu.edu.vn</span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Map</h2>
          <div class="block-23 mb-3">
            <ul>
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d38469.74298605019!2d105.77661861264937!3d10
                    .056471535668052!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a0881fa301aa5d%3A0x27e73181695218ab!2zVHJ1
                    bmcgdMOibSBDw7RuZyBuZ2jhu4cgUGjhuqduIG3hu4FtIMSQ4bqhaSBo4buNYyBD4bqnbiBUaMah!5e0!3m2!1svi!2s!4v1553490459992"
                width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">

        <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy; 2019 All rights reserved
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
    </div>
  </div>
</footer>

<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
    <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
    <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
    </svg></div>