<div class="hero-wrap js-fullheight" style="background-image: url('assets/images/sample-interview.jpg');"
data-stellar-background-ratio="0.5">
<div class="overlay"></div>
<div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start"
        data-scrollax-parent="true">
        <div class="col-md-8 ftco-animate text-center text-md-left mb-5"
            data-scrollax=" properties: { translateY: '70%' }">
            <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                <span class="mr-3">
                    <a href="index.html">
                        Home <i class="ion-ios-arrow-forward"></i>
                    </a>
                </span>
                <span class="mr-3">
                    <a href="index.html">
                        Tips <i class="ion-ios-arrow-forward"></i>
                    </a>
                </span>
                <span>Sample Interview</span>
            </p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                Sample Interview
            </h1>
        </div>
    </div>
</div>
</div>

<section class="ftco-section services-section bg-light" style="padding: 2em 0;">
<div class="container">
    <h5>Tips audio sample interview</h5>
    <div class="ftco-animate">
        <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">
            <div class="mb-4 mb-md-0 mr-5">
                <div class="job-post-item-header d-flex align-items-center">
                    <h2 class="mr-3 text-black h3">Sample Interview 1</h2>
                    <div class="badge-wrap">
                        <span class="bg-primary text-white badge py-2 px-3">Audio</span>
                    </div>
                </div>
            </div>

            <div class="ml-auto d-flex">
                    <audio controls>
                            <source src="assets/audio/test.mp3" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
            </div>
        </div>
    </div> <!-- end -->
    <div class="ftco-animate">
        <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">
            <div class="mb-4 mb-md-0 mr-5">
                <div class="job-post-item-header d-flex align-items-center">
                    <h2 class="mr-3 text-black h3">Sample Interview 2</h2>
                    <div class="badge-wrap">
                        <span class="bg-primary text-white badge py-2 px-3">Audio</span>
                    </div>
                </div>
            </div>

            <div class="ml-auto d-flex">
                <button class="btn btn-danger py-2 mr-1">
                    <i class="ion-md-pause"></i>
                </button>
                <button class="btn btn-primary py-2">
                    <i class="ion-md-play"></i>
                </button>
            </div>
        </div>
    </div> <!-- end -->
    <div class="ftco-animate">
        <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">
            <div class="mb-4 mb-md-0 mr-5">
                <div class="job-post-item-header d-flex align-items-center">
                    <h2 class="mr-3 text-black h3">Sample Interview 3</h2>
                    <div class="badge-wrap">
                        <span class="bg-primary text-white badge py-2 px-3">Audio</span>
                    </div>
                </div>
            </div>

            <div class="ml-auto d-flex">
                <button class="btn btn-danger py-2 mr-1">
                    <i class="ion-md-pause"></i>
                </button>
                <button class="btn btn-primary py-2">
                    <i class="ion-md-play"></i>
                </button>
            </div>
        </div>
    </div> <!-- end -->
    <div class="ftco-animate">
        <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">
            <div class="mb-4 mb-md-0 mr-5">
                <div class="job-post-item-header d-flex align-items-center">
                    <h2 class="mr-3 text-black h3">Sample Interview 4</h2>
                    <div class="badge-wrap">
                        <span class="bg-primary text-white badge py-2 px-3">Audio</span>
                    </div>
                </div>
            </div>

            <div class="ml-auto d-flex">
                <button class="btn btn-danger py-2 mr-1">
                    <i class="ion-md-pause"></i>
                </button>
                <button class="btn btn-primary py-2">
                    <i class="ion-md-play"></i>
                </button>
            </div>
        </div>
    </div> <!-- end -->
</div>
</section>

<section class="ftco-section-parallax">
<div class="parallax-img d-flex align-items-center">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                <h2>Subcribe to our Newsletter</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                    there live the
                    blind texts. Separated they live in</p>
                <div class="row d-flex justify-content-center mt-4 mb-4">
                    <div class="col-md-8">
                        <form action="#" class="subscribe-form">
                            <div class="form-group d-flex">
                                <input type="text" class="form-control" placeholder="Enter email address">
                                <input type="submit" value="Subscribe" class="submit px-3">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<app-footer></app-footer>